

.cartPage {
    width: 80%;
    margin: 2rem auto;
    font-family: "Roboto", sans-serif;
}

.cartHeader {
    background: #2e5f04;
    color: white;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    padding: 12px 20px;
    border-radius: 6px 6px 0 0;
    font-size: 16px;
}

.cartContainer {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}


.cartInput {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartInput button {
    border: none;
    background-color: #444;
    color: white;
    padding: 6px 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.cartInput button:hover {
    background-color: black;
}

.cartInput input {
    width: 40px;
    text-align: center;
    margin: 0 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
    outline: none;
}

/* SUBTOTAL */
.cartSubtotal {
    text-align: right;
    font-size: 16px;
    font-weight: 500;
}

/* TOTAL SECTION */
.cartGrossProfit {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.cartGrossProfitBox {
    width: 300px;
    border-top: 3px solid tomato;
    padding-top: 15px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.checkOutBtn {
    display: flex;
    justify-content: flex-end;
}

.checkOutBtn button {
    margin-top: 50px;
    padding: 12px 25px;
    background: tomato;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.checkOutBtn button:hover {
    background: green;
}

.emptyCart {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.emptyCart svg {
    font-size: 60px;
    color: tomato;
}

.emptyCart a {
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
}
.cartContainer {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    border-radius: 6px;
}
.cartContainer:hover {
    transform: scale(1.01);
    transition: 0.2s;
}


@media (max-width: 768px) {
    .cartPage {
        width: 95%;
    }

    .cartHeader,
    .cartContainer {
        grid-template-columns: 2fr 1fr 1fr;
        font-size: 14px;
    }

    .cartGrossProfitBox {
        width: 100%;
    }

    .checkOutBtn {
        justify-content: center;
    }
    .checkOutBtn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .checkOutBtn button {
        width: 70%;              
        padding: 14px 14px;        
        font-size: 18px;        
        border-radius: 30px;
        margin-top: 20px;
    }
}
