.aboutUs{
display: flex;
flex-direction: column;
justify-content: center;
margin: auto;
align-items: center;
position: fixed;
background-color: white;
width: 100vw;
height: 100vh;
bottom: -1vmax;
padding: 1vmax;
}
 .aboutUs >img{
   border-radius: 100%;
    width: 13vmax;
    height: 13vmax;
    padding: 1vmax;

 }
 .aboutUs>h2{
  color: rgb(84, 82, 82);
  font: 400 2vmax "Roboto";
    border-bottom:1px solid rgb(59, 57, 57) ;
 }
 .aboutUs a{
    text-decoration: none;
    color: black;
    padding: 0.5vmax 3vmax;
    background-color: rgb(191, 193, 195);
    margin: 0.5vmax;
    font: 300 1vmax  "Roboto";
    border-radius: 1vmax;
 }
 .aboutUs>a.linkedin{
   padding: 0.5vmax 3.5vmax;
  }
 .aboutUs>.p{
    font: 300 1vmax  "Roboto";
 }
 .aboutUs a:hover{
   background-color: rgb(9, 180, 9);
 }

 @media screen and (max-width:600px){
   .aboutUs a{
      padding: 1vmax 4vmax;
      font: 300 2vmax  "Roboto";
      margin: 0.5vmax;
   }
   .aboutUs >img{
      border-radius: 100%;
       width: 17vmax;
       height:17vmax;
       padding: 1vmax;
   
    }
    .aboutUs >.p{
      font: 300 3vmax  "Roboto";
      text-align: center;
    }
    .aboutUs>h2{
      
      font: 400 4vmax "Roboto";
       
     }
     .aboutUs>a.linkedin{
      padding: 1vmax 5vmax;
     }
   
 }