.banner {
 background-image:url("../../image/coveriamge.webp");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
height:110vmin;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
color: white;

}
.banner >h1{

    margin:5vmax;
    font: 600 2.5vmax "Roboto";

}
.banner >p{
margin-top: 10vmax;

    font:300 1.4vmax "Lucida Sans"
}
.banner >a >button {
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: rgb(125, 122, 122);
    border:1px solid white;
    border-radius: 0;
    padding:1vmax;
    transition: all 0.5s;
    width: 9vmax;
} 
.banner >a > button:hover{
    background-color:rgba(255,255,255,0);
    color:white;
    
}
.banner::after{
    content: "";
    width: 100vw;
    height:75vmin;
    background-color: #ffffff;
  
    top:0%;
    left:0;
    clip-path: polygon(100% 45%, 0% 100%, 100% 100%);



}
.homeHeading{
    text-align: center;
    font-family: Roboto;
    font-size: 1.6vmax;
    border-bottom: 1px solid rgba(21,21,21,0.5);
    width: 20vmax;
    padding:1vmax;
    margin:5vmax auto;
    color:rb(0,0,0,0.7);
}
.container{
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
}