* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 55px;
}
.topcontainer {
display: flex;
width: 100%;
background-color: #464746;
position: fixed;
justify-content: space-between;
align-items: center;
height: 55px;
z-index: 1001;
top: 0;


}

.top-materrial {
    display: flex;
    align-items: center;
}
a
.E-commerce img {
    width: 150px;
    height: auto;
    margin-right:10vmax;
    
    filter: opacity(1) drop-shadow(0 0 0 black);
}
.R_k{
   text-decoration: none;
    margin-left: 10px;
    background-color: #464746;
    border-radius: 50%;
    font-size:30px ;
    background-image: url("./logo.png");
    background-size: contain;
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   
}

.leftcontainer {
    display: flex;
    gap:2vmax;
    margin-right:2vmax;
}

.person,
.cart {
    color: hsl(0, 0%, 100%);
    font-size: 24px;
    transition: color 0.3s ease;
    
}
.person>a >svg{
    color: hsl(0, 0%, 100%);
    font-size: 24px;
    /* transition: color 0.3s ease; */
}
.cart>a >svg{
    color: hsl(0, 0%, 100%);
    font-size: 24px;
    /* transition: color 0.3s ease; */
}
.sidebar-icon {
    color:white;
    font-size: 24px;
    cursor: pointer;
  
}
.person >a>svg:hover{
  cursor: pointer;
    color: #12e759;
}
.cart>a >svg:hover{
    cursor: pointer;
    color: #12e759;
}
.cart:hover,
.sidebar-icon:hover {
    cursor: pointer;
    color: #12e759;
}
.cart>.three_line:hover{
  cursor: pointer;
  background-color: #12e759;
}
@media screen and (max-width:600px){
    .leftcontainer {
       
        gap:1vmax;
       
    }
    /* .topcontainer {
       
      height: 50px;
      } */
}
