.sidebar {
    position: fixed;
    top: 30px;
    right: -20px;
    width: 150px; 
   
    transition: all 0.3s ease-in-out;
    transform: translateX(100%); 
    z-index: 999;
    
    color: #d6d3d3;

  }
  
  .sidebar.show {
    transform: translateX(0);
    
  }
  
  .sidebar-content {
    padding: 20px;
  }

  .sidebar-content a {
    text-decoration: none;
    
    display: block;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    background-color: #9e9d9c;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    color: white;
  }
  
  .sidebar-content a:hover {
   background-color: #288511;
    cursor: pointer;
  }
  